.idea/
__pycache__/
*.pyc
*.db
*.php
*.tar.gz
*.tar
*.zip
*.log
*.swp
*.swo
*.bak
*.tmp
*.bak2
*.old
*.orig
*.rej
*.exe
*.dll
*.o
*.so
*.a
*.lib
*.dll.a
*.dll.so
*.dll.dylib
*.exe.stackdump
*.suo
*.ncb
*.sdf
*.opensdf
*.db-shm
*.db-wal
*.pidb
*.pdb
.main.py.un~
